services:
  - type: web
    name: cinemaweb-server
    env: node
    plan: free
    region: singapore
    buildCommand: npm install && npx prisma generate
    startCommand: npm start
    envVars:
      - key: DATABASE_URL
        sync: false
    autoDeploy: true
